body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  color: #3e3e4a;
  background-color: #fefeff;
  line-height: 1.2rem;
}

* {
  box-sizing: border-box;
}

body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-width: 80%; 
}

.search-bar {
  position: relative;
  --search-icon-width: 2rem;
  width: 100%;
}
.search-input {
  padding: 0.5rem calc(var(--search-icon-width) + 1rem);
  font-size: inherit;
  border-radius: 1.5rem;
  border: none;
  transition: box-shadow ease 150ms;
  box-shadow: 0 5px 11px rgba(50,50,93,0.08), 0 2px 5px rgba(0,0,0,0.06);
  flex-grow: 1;
  width: 100%;
}
.search-input:focus {
  outline: none;
  box-shadow: 0 10px 23px rgba(50,50,93,0.1), 0 3px 10px rgba(0,0,0,0.07);
}
.search-icon {
  width: var(--search-icon-width);
  position: relative;
}
.search-icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid #ceceda;
  right: 0.35rem;
  top: 0.45rem;
}
.search-icon::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.75rem;
  width: 1px;
  background-color: #ceceda;
  transform: rotate(45deg);
  right: 1.25rem;
  top: 1.05rem;
}
.search-bar .search-icon {
  position: absolute;
  left: 0.5rem;
}

#recipe-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}
#recipe-list li {
  margin-bottom: 1rem;
}
#recipe-list a h3 {
  margin-top: 0;
}
#recipe-list .card {
  min-width: 80%;
}

.recipe-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recipe-tags .tag {
  border-radius: 0.2rem;
  background-color: #eeeefa;
  height: 1.5rem;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
}

.card {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 11px rgba(50,50,93,0.08), 0 2px 5px rgba(0,0,0,0.06);
  transition: box-shadow ease 150ms;
  background-color: #fefeff;
  margin-bottom: 1rem;
}
.card.hoverable:hover {
  box-shadow: 0 10px 23px rgba(50,50,93,0.1), 0 3px 10px rgba(0,0,0,0.07);
}

.card.full-width {
  width: 100%;
}

.notes-list li, .ingredients-list li, .directions-list li {
  margin-bottom: 0.5rem;
}

#back {
  position: absolute;
  display: block;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 2rem;
}
#back:hover {
  cursor: pointer;
}
#back span {
  display: block;
  position: absolute;
  background-color: #3e3e4a;
  width: 4px;
  height: 2rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
#back span:nth-of-type(1) {
  transform: rotate(90deg);
  top: 0;
  left: 1.5rem;
}
#back span:nth-of-type(2) {
  transform: rotate(45deg);
  height: 1.25rem;
  left: 1rem;
  top: 0rem;
}
#back span:nth-of-type(3) {
  transform: rotate(-45deg);
  height: 1.25rem;
  left: 1rem;
  top: 0.75rem;
}
