.notes-list li,
.ingredients-list li,
.directions-list li {
  margin-bottom: 0.5rem;
}
.separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eeeefa;
  margin: 1rem 0;
}
ul.ingredients-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.ingredients-list label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ingredients-list input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: relative;
  min-width: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #eeeefa;
  margin-right: 1rem;
  border-radius: 2px;
}
.checkmark::after {
  opacity: 0.75;
  position: absolute;
  content: '';
  left: 0.4rem;
  top: 0.23rem;
  width: 0.24rem;
  height: 0.48rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label:hover input:not(:checked) ~ .checkmark {
  background-color: #ceceda;
}
label input:checked ~ .checkmark {
  background-color: #1da1f2;
}
label input:checked ~ .checkmark::after {
  opacity: 1;
}
label input:checked ~ .ingredient {
  text-decoration: line-through;
}

.recipe-tags {
  margin-bottom: 2rem;
}

.directions-list strong {
  font-weight: 500;
}
